.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height-header);
  border-bottom: 1px solid #f4f4f4;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  z-index: 10;
}
.header .header-logo {
  display: block;
  text-decoration: none;
  margin-left: 2rem;
  width: 6.8rem;
  height: 6.8rem;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header-form {
  height: 5rem;
  width: 60rem;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 4px rgb(0 0 0 / 50%);
}

.header-search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1rem 1.6rem;

  border-radius: 3px;
}

/* .header-search::after {
  content: "";
  height: 50%;
  width: 1px;
  background: #f0f0f0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 55%;
} */

.header-search .header-search-icon {
  font-size: 1.4rem;
  margin-right: 1.2rem;
}

.header-search-input {
  outline: none;
  border: none;
}

.header-search .header-search-input::placeholder {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  color: var(--text-color);
}

.header-search-history {
  width: 60rem;
  height: 30rem;
  background-color: var(--white-color);
  box-shadow: 0 0 3px;
  margin-top: 1rem;
  border-radius: 3px;
  overflow-y: scroll;
  display: none;
}

.header-search-history.show {
  display: block;
}
.header-search-history::-webkit-scrollbar {
  display: none;
}

.header-search-history .header-search-history-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.1rem;
  padding-top: 0.6rem;
}

.header-search-history .header-search-history-item {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin: 1rem 0;
}

.header-search-history-sub {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.header-search-history-num-stay {
  font-size: 1.2rem;
}

.header-search-history-item .header-search-history-img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  border-radius: 5px;
}
.header .header-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 5rem;
}

.header-date,
.guest-number {
  line-height: 5rem;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  line-height: 4.8rem;
}

.guest-number {
  position: relative;
}

.guest-list {
  width: 31rem;
  height: 23rem;
  box-shadow: 0 0 1px;
  background-color: var(--white-color);
  position: absolute;
  right: 0;
  top: 58px;
  border-radius: 3px;
  box-shadow: 0 0 3px;
  display: none;
}

.guest-list.show {
  display: block;
}

.guest-item {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

.guest-item .age {
  font-size: 1.3rem;
  font-weight: 300;
}

.guest-item .subtraction {
  cursor: no-drop;
  background-color: #fafbfc;
  border: 1px solid #f4f5f6;
  color: #a5a1a1;
}

.sum {
  cursor: pointer;
  border: 1px solid;
}

.sum:hover {
  color: #f65e39;
  transition: 0.3s;
}

.person {
  font-size: 1.6rem;
}
.wrap-caculate {
  display: inline-block;
  margin-top: 1rem;
}

.guest-item .calculate {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
}

.subtraction {
  margin-right: 2rem;
}

.num {
  margin-right: 2rem;
  font-size: 1.6rem;
}

.guest-list-decision {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  cursor: default;
}

.guest-list-decision .guest-list-check,
.guest-list-decision .guest-list-delete {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.guest-list-decision .guest-list-check:hover {
  color: #f65e39;
  transition: 0.3s;
}

.header-date::before {
  content: "";
  height: 46%;
  width: 1px;
  background: #f0f0f0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 65.6%;
  z-index: -10;
}

.header-date::after {
  content: "";
  height: 46%;
  width: 1px;
  background: #f0f0f0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 53.8%;
  z-index: -10;
}

.header-date .header-calendar-icon,
.header-user-icon {
  margin-right: 12px;
  font-size: 1.4rem;
  font-weight: 600;
}

.header-item {
  width: 100%;
  height: 100%;
  text-align: center;
}

.header-price {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 3.6rem;
  border-radius: 20px;
  padding: 5px 7px;
  cursor: pointer;
}

.header-price-info {
  position: absolute;
  top: 7.2rem;
  right: 34px;
  box-shadow: 0 0 1px;
  width: 458px;
  height: auto;
  background: var(--white-color);
  z-index: 12;
  display: none;
}

.header-price-info.show {
  display: block;
}

.header-price-info::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: -0.6rem;
  right: 2rem;
  background: var(--white-color);
  transform: rotate(45deg);
  box-shadow: 0 0 1px;
}

.header-price-info::after {
  content: "";
  position: absolute;
  width: 3.1rem;
  height: 2rem;
  top: 0rem;
  right: 1.4rem;
  background: var(--white-color);
}

.header-price-info-content {
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.header-price-info-wrap-flag {
  width: 100%;
  height: 100%;
  border-right: 1px solid #999;
}

.header-price .header-price-flag {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 6px;
}

.header-price .header-price-text {
  margin-right: 6px;
  user-select: none;
}

.header-price .header-price-icon {
  font-size: 1.2rem;
  font-weight: 600;
}

.header-price-info {
  transition: all 0.3s;
  border-radius: 2px;
}

.header-price-info-item {
  display: flex;
  align-items: center;
}

.header-price-info-item img {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  object-fit: cover;
}

.header-price-info-item h5 {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0 12px;
  font-weight: 400;
}
.header-price-payment {
  width: 100%;
  height: 100%;
  position: relative;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: -0.6rem;
  right: 2rem;
  background: var(--white-color);
  transform: rotate(45deg);
  box-shadow: 0 0 1px;
  border-right: transparent;
  border-bottom: transparent;
}
.header-price-payment-item p {
  font-size: 1.6rem;
  float: left;
  padding-left: 1rem;
}

.header-price-payment-item p i {
  font-size: 1rem;
  margin-left: 0.8rem;
}

.header-price-payment-item p span {
  font-size: 1.8rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

.btn-menu {
  display: none;
}

/* slider */

.slider {
  margin-top: calc(4.4rem + var(--height-header));
}

.slider-container {
  width: 100%;
}

.slider-wrap {
  width: 100%;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.slider-navigation {
  position: absolute;
  right: 10%;
  bottom: 40%;
}

.slider-navigation-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
}

.slider-navigation-icon.active {
  background-color: #999;
}

.slider-slide {
  width: 100%;
  position: absolute;
  height: 264px;
  margin-bottom: 5.2rem;
  position: absolute;
  transform: translateX(100%);
}
.slider-slide.active {
  transform: translateX(0%);
  transition: 1s;
}

.slider-container .slider-img {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}

.slider-heading {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.slider-text {
  line-height: 2.2;
  font-size: 1.4rem;
}

.slider-register,
.slider-login {
  color: var(--text-color);
}

/* attraction */
.attraction {
  margin-bottom: 5.5rem;
}
.attraction-place {
  margin-top: 4.5rem;
  margin-bottom: 5rem;
  width: 100%;
}

.attraction-place .attraction-heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.attraction-place .attraction-intro {
  margin-bottom: 2.4rem;
}

.attraction-slides {
  height: 278px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.attraction-slides .attraction-slide {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.attraction-slides .attraction-slide:hover {
  opacity: 0.8;
  transform: scale(1.01);
  transition: all 0.3s;
}
.attraction-slides .attraction-slide img {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 10px;
}

.attraction-info {
  position: absolute;
  left: 5%;
  bottom: 7%;
}

.attraction-info-place {
  font-size: 2.2rem;
  color: var(--white-color);
}

.attraction-info-number-stay {
  color: var(--white-color);
  font-size: 1.6rem;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: var(--white-color);
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  transform: translateY(-50%);
}

.next-btn {
  right: -10px;
}

/* Endow */
.endow-container {
  width: 100%;
  height: 168px;
  margin-top: 2rem;
  margin-bottom: 5.5rem;
  cursor: pointer;
}
.endow-more-btn {
  text-decoration: none;
  color: #f65e39;
}

.endow-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.endow-item {
  cursor: pointer;
}
.endow-item:hover {
  opacity: 0.8;
  transform: scale(1.01);
  transition: all 0.3s;
}

/* suggestion */
.suggestion {
  margin-bottom: 8rem;
}
.suggestion-container {
  width: 100%;
  height: 262px;
  margin-top: 2rem;
  position: relative;
}

.sug-item {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.sug-item:hover img {
  transform: scale(1.01);
  opacity: 0.8;
  transition: all 0.3s;
}

.sug-item img {
  width: 100%;
  height: 177px;
  object-fit: cover;
  border-radius: 2px;
}

.sug-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 1rem;
  color: #555;
}

.sug-info {
  font-size: 1.4rem;
  color: #555;
}

.sug-prev-btn.prev-btn,
.sug-next-btn.next-btn {
  top: 39%;
}

/* discovery */
.discovery {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
}

.discovery .discovery-item {
  width: 100%;
  height: 240px;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
}

.discovery .discovery-item:hover {
  opacity: 0.8;
  transform: scale(1.01);
  transition: all 0.3s;
}

.discovery .discovery-item img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.discovery-info {
  position: absolute;
  left: 1.2rem;
  top: 10%;
  width: 20rem;
  height: 2.3rem;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.discovery-info span {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--white-color);
  line-height: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.discovery-sub {
  position: absolute;
  bottom: 5%;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--white-color);
}
/* instruct */
.instruct-container {
  height: 228px;
  width: 100%;
  position: relative;
  margin-top: 1.8rem;
  margin-bottom: 5.5rem;
}

.instruct-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.instruct-img:hover {
  transform: scale(1.01);
  opacity: 0.8;
  transition: all 0.3s;
}

/* App */
.app {
  height: 544px;
  margin-bottom: 5rem;
}
.app-logo {
  margin-bottom: 5.5rem;
}
.app-logo-img {
  height: 70px;
}

.app-title {
  text-transform: uppercase;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-size: 3.2rem;
}

.app-qr-code {
  width: 200px;
  height: 200px;
}

.app-right {
  width: 100%;
  height: 100%;
}

.app-right-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-link-download {
  width: 100%;
  height: 40px;
  object-fit: cover;
  margin-top: 2rem;
  cursor: pointer;
}

/* Slide-bar */
.footer-top {
  margin-bottom: 5rem;
}

.slide-bar-item.footer-top-logo {
  margin-top: 0;
}
.slide-bar-item {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
}

.slide-bar-text {
  margin-left: 2rem;
}

.slide-bar-item h5 {
  font-size: 1.6rem;
}

.slide-bar-item .slide-bar-link {
  font-size: 1.4rem;
  color: var(--text-color);
}

.slide-bar-item .slide-bar-link:hover {
  color: #f65e39;
  transition: 0.3s;
}

.footer-top-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 1.4rem;
}

.footer-top-link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.footer-top-link:hover {
  color: #f65e39;
  transition: 0.3s;
}

.footer-top-qr-code {
  /* width: 100%; */
  height: 74px;
  object-fit: cover;
}

.footer-top-app {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* Footer main */
.footer-main {
  margin-bottom: 6.5rem;
}
.footer-main-pay {
  width: 20%;
  object-fit: cover;
  margin-right: 2rem;
}

.footer-main-certification {
  max-width: 90%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.footer-main-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  background-color: rgb(72, 72, 72);
  line-height: 30px;
  text-align: center;
  color: var(--white-color);
  border-radius: 50%;
  cursor: pointer;
}

.footer-main-icon:not(:first-child) {
  margin-left: 1rem;
}

/* footer-bottom */

.footer-bottom {
  padding-top: 3rem;
  border-top: 1px solid #f2f2f2;
  padding-bottom: 5rem;
}
.footer-bottom p {
  text-align: center;
  color: #999;
}

.show-out-line {
  border: 1px solid;
  box-shadow: 0 0px 1px;
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
